<div class="flex items-center pa2" *ngFor="let assetItem of assetList; let i = index;">
  <!-- Text Values -->
  <div class="w-60 flex" *ngIf="!assetItem.isEdit" [ngClass]="assetItem.isSold ? 'strike' : null">
    <div class="flex-auto">Name</div>
    <div class="flex-auto">{{assetItem.name}}</div>
    <div class="flex-auto">Value</div>
    <div class="flex-auto">{{assetItem.value}}</div>
  </div>
  <!-- Is Edit Component -->
  <app-asset-edit *ngIf="assetItem.isEdit" [asset]="assetItem" (onAssetChange)="onAssetEditChange($event)"></app-asset-edit>
  <!-- Buttons -->
  <div class="w-40 flex" *ngIf="!assetItem.isEdit">
    <button class="flex-auto" (click)="onDeleteItemClick(i)">Delete</button>
    <button class="flex-auto" (click)="onToggleSoldClick(i)">Toggle Sell</button>
    <button class="flex-auto" (click)="onEditItemClick(i)">Edit</button>
  </div>
  <div class="w-40 flex" *ngIf="assetItem.isEdit">
    <button class="flex-auto" (click)="onCancelEditClick(i)">Cancel</button>
    <button class="flex-auto" (click)="onSaveEditClick(i)" [disabled]="tempAsset === null">Save</button>
  </div>
</div>